  
    <div class = 'table-responsive'>
        <table class ='table' *ngIf='logmessages && logmessages.length'>
            <thead>
                <tr>
                    <th> Date</th>
                    <th> Message</th>
                    <th> Instance </th>
                    <th> Server</th>               
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let logmessage of logmessages'>
                    <td>{{ logmessage.Date }}</td>
                    <td>{{ logmessage.Message }}</td>
                    <td>{{ logmessage.Instance }}</td>
                    <td>{{ logmessage.Server }}</td>             
                </tr>
            </tbody>
        </table>
    </div>
  