    <div class="row">
        <div class="col-md-1">
            <div class="navbar navbar-inverse navbar-fixed-left">
                <ul>
                    <li *ngFor="let server of servers">
                        <a [routerLink]="['./', server.ServerName ]" class="navbar-brand">                         
                            <i class="fa fa-server" aria-hidden="true"></i>
                            <div class="caption">{{server.ServerName}}</div>      
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-11">
        <router-outlet></router-outlet>
        </div>
    </div>     
   