.top-buffer { margin-top:20px; }

.navbar-fixed-left {
  width: 100px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  background: #00AAE5;
  vertical-align: middle; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a.menu-active .caption {
    color: #fff !important;
    background-color: transparent !important;
}
