    <div class="col-md-1">
        <nav>
            <ul>  
            <li><a href [routerLink]="['./content','Deliveries']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: false }">Deliveries</a></li>
            <li><a href [routerLink]="['./content','Logs']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: false }">Logs</a></li>
            <li><a href [routerLink]="['./content','Queues']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: false }">Queues</a></li>
            </ul>
        </nav>  
    </div>   
    <div class="col-md-11">
          <router-outlet></router-outlet>
    </div>              
    

